@using Zadatak_1
@using Zadatak_2.Models
@model Zadatak_2.Models.IndexViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}
<!DOCTYPE html>
<html>
<head>
    <title>Active tasks</title>
</head>
<body>
    <h1 style="margin-top: 1em">Todo</h1>
    <a asp-controller="Todo" asp-action="Add" style="margin-right: 5em; margin-top: 10em;"><b>Add new todo</b></a>
    <a asp-controller="Todo" asp-action="Completed" style="margin-top: 5em"><b>   See completed todos</b></a>
    <br/>
    @foreach (var item in @Model.TodoList)
    {
        <br />
        <span style="margin-top: 5em; margin-right: 5px"><b>@item.Text</b></span><span style="color: crimson"><b>@item.DaysUntilDeadline()</b></span>
                if (item.DateDue != null)
                {
                    <br /> @item.DateDue.Value.Date.ToString("dd.MM.yyyy")
                }
        <br />@Html.ActionLink("Mark as completed", "MarkAsCompleted", new { id = item.Id })
        <br/>
    }
</body>
</html>